.menu-icon {
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

.line1,
.line2,
.line3 {
    width: 8px;
    height: 8px;
    background-color: #20B2AA;
    transition: transform 0.4s, opacity 0.4s, background-color 0.4s;
}

.menu-icon.active .line1 {
    transform: translateX(-10px); 
}

.menu-icon.active .line2 {
    opacity: 0;
}

.menu-icon.active .line3 {
    transform: translateX(10px); 
}

.burger {
    display: none;
    opacity: 0;
    animation: fadeIn 0.8s forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.burger.active {
    display: block;
    opacity: 1;
}

.content ul > li {
    color: #F0E68C;
    font-size: 18px;
    font-weight: 600;
}

.content ul > li:hover {
    background-color: #008B8B;
    color: white;
    animation: fadeIn 0.4s forwards; 
}

.burger .navbar-categories li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 4px;
}

.burger .navbar-categories li a {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    color: inherit;
    display: flex;
    justify-content: center;
}

.burger .navbar-categories li a::before {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.burger .navbar-categories li .burger-link-home::before {
    background-image: url("../image/home.png");
}

.burger .navbar-categories li .burger-link-catalog::before {
    background-image: url("../image/catalog_icon.png");
}

.burger .navbar-categories li .burger-link-about::before {
    background-image: url("../image/about_icon.png");
}

.burger .navbar-categories li .burger-link-awards::before {
    background-image: url("../image/awards_icon.png");
}

@media (min-width: 769px) {
    .menu-icon {
        display: none;
    }
    .burger > nav {
        display: none;
    }
}
